<h3><i class="icon-group"></i> Members</h3>

<ul class="members-list">
  <li class="member"><a href="https://github.com/agile"><img src="https://secure.gravatar.com/avatar/722218c7702627097bd72901d7b39e6a?s=96" width="36" title="agile" alt="agile"></a></li>
  <li class="member"><a href="https://github.com/agiletortoise"><img src="https://secure.gravatar.com/avatar/351d6827001f290116032995a87ebb81?s=96" width="36" title="agiletortoise" alt="agiletortoise"></a></li>
  <li class="member"><a href="https://github.com/bappelt"><img src="https://secure.gravatar.com/avatar/a3d99c7f90cf8a09e556ba1e30f238dc?s=96" width="36" title="bappelt" alt="bappelt"></a></li>
  <li class="member"><a href="https://github.com/breckenedge"><img src="https://secure.gravatar.com/avatar/303d9f5c2135f14f277775052bcb131b?s=96" width="36" title="breckenedge" alt="breckenedge"></a></li>
  <li class="member"><a href="https://github.com/burin"><img src="https://secure.gravatar.com/avatar/f9738fef802fd0ea3502a0e7cb3dbea6?s=96" width="36" title="burin" alt="burin"></a></li>
  <li class="member"><a href="https://github.com/davesims"><img src="https://secure.gravatar.com/avatar/5756f9ea3fa0d1df985d7e2d4b83fa8a?s=96" width="36" title="davesims" alt="davesims"></a></li>
  <li class="member"><a href="https://github.com/dwarfmondo"><img src="https://secure.gravatar.com/avatar/b7df1ce02c5ac12e597639961632bac8?s=96" width="36" title="dwarfmondo" alt="dwarfmondo"></a></li>
  <li class="member"><a href="https://github.com/jdrnetworking"><img src="https://secure.gravatar.com/avatar/15e6038e9ebd6db3b8d721fbf7df6be0?s=96" width="36" title="Jon Riddle" alt="wtfspm"></a></li>
  <li class="member"><a href="https://github.com/joshuawscott"><img src="https://secure.gravatar.com/avatar/ba613469857ce0fd0cf86a0d7c56041b?s=96" width="36" title="Josh Scott" alt="joshuawscott"></a></li>
  <li class="member"><a href="https://github.com/jrgarcia"><img src="https://secure.gravatar.com/avatar/cf1cfaa0ac028af7b6581d1fd8069475?s=96" width="36" title="jrgarcia" alt="jrgarcia"></a></li>
  <li class="member"><a href="https://github.com/mcmoyer"><img src="https://secure.gravatar.com/avatar/74af5f2cbafd44095efcee0ee0261fcd?s=96" width="36" title="mcmoyer" alt="mcmoyer"></a></li>
  <li class="member"><a href="https://github.com/nicks451"><img src="https://secure.gravatar.com/avatar/345e1807acadf6ff328fad25a466728e?s=96" width="36" title="nicks451" alt="nicks451"></a></li>
  <li class="member"><a href="https://github.com/philtr"><img src="https://secure.gravatar.com/avatar/4b44b9cf8344ba1c431d58b1d769fc14?s=96" width="36" title="philtr" alt="philtr"></a></li>
  <li class="member"><a href="https://github.com/phuphighter"><img src="https://secure.gravatar.com/avatar/51c86b4739608aac49033f56a2f77427?s=96" width="36" title="phuphighter" alt="phuphighter"></a></li>
  <li class="member"><a href="https://github.com/ryanthames"><img src="https://secure.gravatar.com/avatar/2936cec6a3ee0181288681332dd60c3f?s=96" width="36" title="Ryan Thames" alt="ryanthames"></a></li>
  <li class="member"><a href="https://github.com/stevenproctor"><img src="https://secure.gravatar.com/avatar/9ad4e9db75bec17539f5e5757112cfa2?s=96" width="36" title="stevenproctor" alt="stevenproctor"></a></li>
  <li class="member"><a href="https://github.com/tastycake"><img src="https://avatars2.githubusercontent.com/u/110523?v=3&s=96" width="36" title="tastycake" alt="tastycake"></a></li>
  <li class="member"><a href="https://github.com/troygnichols"><img src="https://secure.gravatar.com/avatar/6378ba2cb6220bfe96d02703f3e85711?s=96" width="36" title="troygnichols" alt="troygnichols"></a></li>
</ul>

