<h3><i class="icon-group"></i> Current Members</h3>
<ul class="members-list">
  <li class="member"><a href="https://github.com/agile"><img src="https://secure.gravatar.com/avatar/722218c7702627097bd72901d7b39e6a?s=96" width="48" title="agile" alt="agile"></a></li>
  <li class="member"><a href="https://github.com/agiletortoise"><img src="https://secure.gravatar.com/avatar/351d6827001f290116032995a87ebb81?s=96" width="48" title="agiletortoise" alt="agiletortoise"></a></li>
  <li class="member"><a href="https://github.com/brandonaaron"><img src="https://secure.gravatar.com/avatar/5caa0660a37102fb758ebff952d936d9?s=96" width="48" title="brandonaaron" alt="brandonaaron"></a></li>
  <li class="member"><a href="https://github.com/breckenedge"><img src="https://secure.gravatar.com/avatar/303d9f5c2135f14f277775052bcb131b?s=96" width="48" title="breckenedge" alt="breckenedge"></a></li>
  <li class="member"><a href="https://github.com/bappelt"><img src="https://secure.gravatar.com/avatar/a3d99c7f90cf8a09e556ba1e30f238dc?s=96" width="48" title="bappelt" alt="bappelt"></a></li>
  <li class="member"><a href="https://github.com/burin"><img src="https://secure.gravatar.com/avatar/f9738fef802fd0ea3502a0e7cb3dbea6?s=96" width="48" title="burin" alt="burin"></a></li>
  <li class="member"><a href="https://github.com/davesims"><img src="https://secure.gravatar.com/avatar/5756f9ea3fa0d1df985d7e2d4b83fa8a?s=96" width="48" title="davesims" alt="davesims"></a></li>
  <li class="member"><a href="https://github.com/dwarfmondo"><img src="https://secure.gravatar.com/avatar/b7df1ce02c5ac12e597639961632bac8?s=96" width="48" title="dwarfmondo" alt="dwarfmondo"></a></li>
  <li class="member"><a href="https://github.com/jwwest"><img src="https://secure.gravatar.com/avatar/a8b3ca8d932680957926f5b72031b5d3?s=96" width="48" title="jwwest" alt="jwwest"></a></li>
  <li class="member"><a href="https://github.com/mcmoyer"><img src="https://secure.gravatar.com/avatar/74af5f2cbafd44095efcee0ee0261fcd?s=96" width="48" title="mcmoyer" alt="mcmoyer"></a></li>
  <li class="member"><a href="https://github.com/nicks451"><img src="https://secure.gravatar.com/avatar/345e1807acadf6ff328fad25a466728e?s=96" width="48" title="nicks451" alt="nicks451"></a></li>
  <li class="member"><a href="https://github.com/philtr"><img src="https://secure.gravatar.com/avatar/4b44b9cf8344ba1c431d58b1d769fc14?s=96" width="48" title="philtr" alt="philtr"></a></li>
  <li class="member"><a href="https://github.com/phuphighter"><img src="https://secure.gravatar.com/avatar/51c86b4739608aac49033f56a2f77427?s=96" width="48" title="phuphighter" alt="phuphighter"></a></li>
  <li class="member"><a href="https://github.com/robomalo"><img src="https://secure.gravatar.com/avatar/d4445f89e6794220a7fd90c1d33a5842?s=96" width="48" title="robomalo" alt="robomalo"></a></li>
  <li class="member"><a href="https://github.com/stevenproctor"><img src="https://secure.gravatar.com/avatar/9ad4e9db75bec17539f5e5757112cfa2?s=96" width="48" title="stevenproctor" alt="stevenproctor"></a></li>
</ul>

<h4>Members Emeritus</h4>
<ul class="members-list">
  <li class="member"><a href="https://github.com/josiahivey"><img src="https://secure.gravatar.com/avatar/cbac6b08f6f6aebe2dee197dc34e0d74?s=96" width="48" title="josiahivey" alt="josiahivey"></a></li>
  <li class="member"><a href="https://github.com/polomasta"><img src="https://secure.gravatar.com/avatar/e7c11526cbc2c07d308e5fc9c72e8946?s=96" width="48" title="polomasta" alt="polomasta"></a></li>
  <li class="member"><a href="https://github.com/whoisjake"><img src="https://secure.gravatar.com/avatar/329e6595ee8790feff4fe65031d7d669?s=96" width="48" title="whoisjake" alt="whoisjake"></a></li>
</ul>
