<h3>Upcoming Events</h3>
{% for event in site.categories.events limit:3 %}
<div class="event">
  <div class="event-date">
    {{ event.long_date }}
  </div>
  <div class="event-title">
    <a href="{{ event.url }}">{{ event.title }}</a>
  </div>
  <div class="event-details">
    <span class="event-time">{{ event.time }}</span>
    @
    <span class="event-location"><a href="{{ event.location_url }}">{{ event.location }}</a></span>
    |
    <span class="event-rsvp"><a href="{{ event.rsvp_url }}">RSVP</a></span>
  </div>
</div>
{% endfor %}
