* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-sans-serif;
  backrgound-color: $newbie-black;
  color: $garbage-collector-gray;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.75;
}

section {
  background-color: white;
}

h1, h2, h3, h4 {
  font-weight: 800;

  @include media($mobile) {
    font-size: 1.3em;
    line-height: 1.2;
  }
}

h1 {
  font-size: 32px;
}

h3 {
  color: $ruby-red;
  font-size: 24px;
  font-weight: 800;
}

h3 i {
  color: #ccc;
}

a {
  color: $ruby-red;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  text-indent: -0.5em;
  padding-left: 1.5em;
}

li:before {
  content: "•";
  color: $meta-gray;
  padding-right: 0.5em;
}

.short {
  display: none;

  @include media($mobile) {
    display: inline;
  }
}

.long {
  display: inline;

  @include media($mobile) {
    display: none;
  }
}
