.container > * {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 1em;
}

.container-intro {
  background: $newbie-black;
  color: #fff !important;
}

.container-scoop {
  background: $meta-white;
}

.container-misc {
  color: #ccc;
  background-color: $ruby-red;
}

.container-misc h3 {
  color: $meta-white;
}

.container-misc a {
  color: $meta-white;
  text-decoration: underline;
}
