.event {
  @include span-columns(12);
  margin-bottom: 20px;

  @include media($mobile) {
    @include span-columns(1);
    margin-bottom: 0;
    padding: 0 0 1em 0;
  }
}

.event + .event {
  @include pad(default 0 0 0);
  border-top: 1px solid $meta-white;

  @include media($mobile) {
    border-left: none;
    border-top: 1px solid $meta-white;
    padding: 1em 0;
  }
}

.event-date {
  color: $meta-stone;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.event-title {
  font-size: 24px;
  font-weight: 800;

  a {
    color: $garbage-collector-gray;
  }
}

.event-details {
  color: $meta-stone;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.event-description p {
  margin-bottom: 0;
}

.event-time {
  text-transform: none;
}

