.footer {
  @include linear-gradient(#000, $newbie-black);
  color: $garbage-collector-gray;
  font-size: 12px;
  font-weight: 300;
  height: 120px;
  letter-spacing: 3px;
  padding: 30px 15px;
  text-align: center;
  text-transform: uppercase;

  p {
    text-indent: 12px;
  }

  @include media($mobile) {
    font-size: 10px;

    p { text-indent: 6px; }
  }
}
