.site-header {
  background: $ruby-red url('/images/ruby.png') no-repeat center 30px;
  background-size: 630px 485px;
  font-weight: 800;
  color: #fff;
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  @include media($mobile) {
    background-size: 400px;

    img {
      width: 300px;
    }
  }
}

.site-title {
  font-size: 64px;
  letter-spacing: 15px;
  margin-bottom: 0;

  @include media($mobile) {
    font-size: 36px;
    letter-spacing: 8px;
  }

}

.site-subtitle {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 3px;

  @include media($mobile) {
    .bullet { 
      display: none;
    }

    .ethusiasts,
    .city {
      display: block;
    }

    .city {
      font-family: $font-family-serif;
      font-style: italic;
      letter-spacing: normal;
      text-transform: none;
      -webkit-font-smoothing: antialiased;}
  }
}

.site-subtitle .of.long {
  font-family: $font-family-serif;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
