.members-list {
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.members-list .member:before {
  content: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

.member {
  display: inline;
  padding: 0;
}
