section {
  padding: 1em;
}

section > article {
  @include outer-container;
}

section.intro {
  @include linear-gradient($newbie-black, lighten($newbie-black, 5%));

  color: #fff !important;

  a {
    color: lighten($ruby-red, 7%);
  }
}

section.scoop {
  background: $meta-white;
}

section.misc {
  @include linear-gradient($ruby-red, lighten($ruby-red, 5%));
  color: #ccc;
  padding-bottom: 2.5em;

  h3 {
    color: $meta-white;
  }

  a {
    color: $meta-white;
    text-decoration: underline;
  }

  .external-links { @include span-columns(4); }
  .involvement { @include span-columns(8); }

  @include media($mobile) {
    .external-links { @include span-columns(1); }
    .involvement { @include span-columns(1); }
  }
}
