section {
  padding: 1em;
}

section > article {
  @include outer-container;
}

section.intro {
  background: $newbie-black;
  color: #fff !important;

  a {
    color: lighten($ruby-red, 7%);
  }
}

section.scoop {
  background: $meta-white;
}

section.misc {
  color: #ccc;
  background-color: $ruby-red;

  h3 {
    color: $meta-white;
  }

  a {
    color: $meta-white;
    text-decoration: underline;
  }

  .external-links { @include span-columns(4); }
  .involvement { @include span-columns(8); }

  @include media($mobile) {
    .external-links { @include span-columns(1); }
    .involvement { @include span-columns(1); }
  }
}
