---
---
$ruby-red: #991139;
$newbie-black: #222;
$garbage-collector-gray: #444;
$meta-gray: #9db0b5;
$meta-white: #eef3f3;

$font-family-sans-serif: "calluna-sans", "Calluna Sans", "Segoe UI", Helvetica, sans-serif;
$font-family-serif: "Palatino", "Palatino Linotype", "URW Palladio", serif;


* {
  -moz-box-sizing: border-box;
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body, .pure-g [class *= "pure-u"] {
  font-family: $font-family-sans-serif;
}

body {
  color: $garbage-collector-gray;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.75;
}

h1, h2, h3, h4 {
  font-weight: 800;
}

.pure-g [class*='pure-u-'] { padding: 10px; }

.container > * {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 1em;
}

.container-intro {
  background: $newbie-black;
  color: #fff !important;
}

.container-scoop {
  background: $meta-white;
}

.container-misc {
  color: #ccc;
  background-color: $ruby-red;
}

.container-misc h3 {
  color: $meta-white;
}

.container-misc a {
  color: $meta-white;
  text-decoration: underline;
}

.short {
  display: none;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -120px;
}

.site-header {
  background: $ruby-red url('/images/ruby.png') no-repeat center 30px;
  background-size: 630px 485px;
  font-weight: 800;
  color: #fff;
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.site-title {
  font-size: 64px;
  letter-spacing: 15px;
  margin-bottom: 0;
}

.site-subtitle {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 3px;
}

.site-subtitle .of.long {
  font-family: $font-family-serif;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

h3 {
  color: $ruby-red;
  font-size: 24px;
  font-weight: 800;
}

h3 i {
  color: #ccc;
}

a {
  color: $ruby-red;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  text-indent: -0.5em;
  padding-left: 1.5em;
}


li:before {
  content: "•";
  color: $meta-gray;
  padding-right: 0.5em;
}

p.intro {
  font-size: 24px;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.event {
  /* background-color: $meta-white; */
  /* border-radius: 10px; */
  margin-bottom: 20px;
}

.event + .event {
  border-left: 1px solid $meta-white;
}

.event-inner {
  padding: 10px;
}

.event-date {
  font-size: 12px;
  font-weight: 400;
}

.event-title {
  font-weight: 800;
}

.event-details {
  font-size: 12px;
  font-weight: 400;
}

.event-description p {
  margin-bottom: 0;
}

.event-time {
  text-transform: none;
}

.members-list {
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.members-list .member:before {
  content: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

.member {
  display: inline;
  padding: 0;
}

.push, .footer {
  clear: both;
  height: 120px;
}

.footer {
  background-color: $newbie-black;
  color: $garbage-collector-gray;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 3px;
  padding: 30px 15px;
  text-align: center;
  text-transform: uppercase;
}

.footer p {
  text-indent: 12px;
}

@media all and (max-width: 48em) {
  h1, h2, h3 {
    font-size: 1.3em;
    line-height: 1.2;
  }

  h1, h2, h3, h4, ul.members-list, p {
    padding: 0 20px;
  }

  .pure-g [class*='pure-u-'] { padding: 0px; }

  p.intro {
    font-size: 16px;
    margin: 20px 0 0 0;
  }

  .long {
    display: none;
  }

  .short {
    display: inline;
  }

  .site-header {
    background-size: 400px;
  }

  .site-title {
    font-size: 36px;
    letter-spacing: 8px;
  }

  .site-subtitle .bullet {
    display: none;
  }

  .site-subtitle .enthusiasts,
  .site-subtitle .city {
    display: block;
  }

  .site-subtitle .city {
    font-family: $font-family-serif;
    font-style: italic;
    letter-spacing: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
  }

  .event {
    border-radius: 0;
    margin-bottom: 0;
  }

  .event + .event {
    border-top: 1px dotted #e5e5e5;
  }

  .event-description p {
    padding: 0;
  }

  .footer {
    font-size: 10px;
  }

  .footer p {
    text-indent: 6px;
  }
}

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


