* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body, .pure-g [class *= "pure-u"] {
  color: #444;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.75;
}

h1, h2, h3, h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.pure-g [class*='pure-u-'] { padding: 10px; }

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.short {
  display: none;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -120px;
}

.site-header {
  background: #991139 url('/images/ruby.png') no-repeat center 30px;
  background-size: 630px 485px;
  font-weight: 800;
  color: #fff;
  padding: 30px 0;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.site-title {
  font-family: 'Raleway', sans-serif;
  font-size: 64px;
  letter-spacing: 15px;
  margin-bottom: 0;
}

.site-subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 3px;
}

.site-subtitle .of.long {
  font-family: 'Palatino', 'Palatino Linotype', 'URW Palladio', serif;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
}


h3 {
  color: #991139;
  font-family: 'Raleway' sans-serif;
  font-size: 24px;
  font-weight: 800;
}

h3 i {
  color: #11976B;
}

a {
  color: #991139;
  text-decoration: none;
}

p.intro {
  font-size: 24px;
  font-style: italic;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: justify;
}

.event {
  background-color: #eef3f3;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

.event-date {
  font-size: 12px;
  font-weight: 400;
}

.event-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.event-details {
  font-size: 12px;
  font-weight: 400;
}

.event-description p {
  margin-bottom: 0;
}

.event-time {
  text-transform: none;
}

.members-list {
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.member {
  display: inline;
}

.push, .footer {
  clear: both;
  height: 120px;
  margin-top: 50px;
}

.footer {
  background-color: #eef3f3;
  color: #aaa;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 3px;
  padding: 30px 15px;
  text-align: center;
  text-transform: uppercase;
}

.footer p {
  text-indent: 12px;
}

@media all and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  h1, h2, h3 {
    font-size: 1.3em;
    line-height: 1.2;
  }

  p.intro {
    font-size: 16px;
    margin: 0;
  }

  .long {
    display: none;
  }

  .short {
    display: inline;
  }

  .site-header {
    background-size: 400px;
  }

  .site-title {
    font-size: 36px;
    letter-spacing: 8px;
  }

  .site-subtitle .bullet {
    display: none;
  }

  .site-subtitle .enthusiasts,
  .site-subtitle .city {
    display: block;
  }

  .site-subtitle .city {
    font-family: 'Gentium Basic', serif;
    font-style: italic;
    letter-spacing: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
  }

  .event-description {
    font-size: 12px;
  }

  .footer {
    font-size: 10px;
  }

  .footer p {
    text-indent: 6px;
  }
}

