* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #444;
  font-family: 'Alegreya', 'Palatino', 'Palatino Linotype', serif;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -120px;
}

.site-header {
  background: #991111 url('/images/ruby.png') no-repeat center 30px;
  background-size: 630px 485px;
  font-weight: 800;
  color: #fff;
  padding: 30px 0;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.site-title {
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  letter-spacing: 15px;
  margin-bottom: 0;
}

.site-subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 3px;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.primary {
  float: left;
  padding-right: 30px;
  width: 70%;
}

.secondary {
  float: right;
  width: 30%;
}

h3 {
  color: #991111;
  font-family: 'Raleway' sans-serif;
  font-size: 24px;
  font-weight: 800;
}

a {
  color: #991111;
  text-decoration: none;
}

.event {
  font-family: "Raleway", sans-serif;
}

.event-date {
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
}

.event-title {
  font-weight: 800;
}

.event-details {
  font-size: 12px;
  text-transform: uppercase;
}

.members-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.member {
  display: inline;
}

.push, .footer {
  clear: both;
  height: 120px;
  margin-top: 50px;
}

.footer {
  background-color: #eee;
  color: #aaa;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 3px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
}

