<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ruby FTW</title>
    <link href="/stylesheets/desktop.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:800,300|Alegreya:400italic,700italic,400,700' rel='stylesheet' />
  </head>
  <body>
    <div class="wrap">
      {% include header.html %}

      <div class="container">
        <div class="primary">
          {{ content }}
        </div>

        <div class="secondary">
          {% include upcoming.html %}
          {% include links.html %}
          {% include members.html %}
        </div>
      </div>

      <div class="push"></div>
    </div>

    <div class="footer">
      <img src="/images/longhorn-small-gray.png" width="150" alt="" />
      <p>Ruby Enthusiasts &bull; Fort Worth, Texas</p>
    </div>
  </body>
</html>
