<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ruby FTW</title>
    <link href="/stylesheets/desktop.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,300|Alegreya:400italic,700italic,400,700' rel='stylesheet' />
  </head>
  <body>
    <div class="wrap">
      {% include header.html %}

      <div class="container">
        <div class="primary">
          {{ content }}
        </div>

        <div class="secondary">
          <h3>Upcoming Events</h3>
          <div class="event">
            <div class="event-date">
              February 26th, 2013
            </div>
            <div class="event-title">
              <a href="http://plancast.com/p/gi6c">C Extensions with Dan Swain</a>
            </div>
            <div class="event-details">
              <span class="event-time">6:30pm</span>
              @
              <span class="event-location"><a href="http://goo.gl/maps/BrD3h">Enilon</a></span>
              |
              <span class="event-rsvp"><a href="http://plancast.com/p/gi6c">RSVP</a></span>
            </div>
        </div>
      </div>

      <div class="push"></div>
    </div>

    <div class="footer">
      <img src="/images/longhorn-small-gray.png" width="150" alt="" />
      <p>Ruby Enthusiasts &bull; Fort Worth, Texas</p>
    </div>
  </body>
</html>
