<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {% if page.redirect_to %}
      <meta http-equiv="refresh" content="0;URL='{{ page.redirect_to }}'">
    {% endif %}

    <title>Ruby FTW &bull; Ruby Enthusaists of Fort Worth</title>
    <meta name="description" content="Ruby FTW - The Fort Worth, Texas Ruby Enthusiast Group" />
    <meta name="viewport" content="width=device-width" />

    <!-- Styles -->
    <link href="/stylesheets/main.css?{{ asset_version }}" rel="stylesheet" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon.png?{{ asset_version }}" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?{{ asset_version }}" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.js"></script>
  </head>
  <body>

    {{ content }}

    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1260172-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
