<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {% if page.redirect_to %}
    <meta http-equiv="refresh" content="0;URL='{{ page.redirect_to }}'">
    {% endif %}

    <title>Ruby FTW &bull; Ruby Enthusaists of Fort Worth</title>
    <meta name="description" content="Ruby FTW - The Fort Worth, Texas Ruby Enthusiast Group" />
    <meta name="viewport" content="width=device-width" />

    <!-- Libraries -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,700,300italic,700italic|Raleway:400,800,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/grids-min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">

    <!-- Styles -->
    <link href="/stylesheets/desktop.css" rel="stylesheet" />

    <link rel="icon" type="image/png" href="/favicon.png?v2" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?v2" />
  </head>
  <body>

    {{ content }}

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1260172-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
